<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy6g1snywAlQ6hcnddcvJ0ueIaUPlP0ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>608142168414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieml</string>
	<key>PROJECT_ID</key>
	<string>moviedb-2c1bd</string>
	<key>STORAGE_BUCKET</key>
	<string>moviedb-2c1bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608142168414:ios:ef80c4b35311d021647fcf</string>
</dict>
</plist>